<!DOCTYPE html>
<html>
  <head>
    <title>FilmProject</title>
    <link rel="stylesheet" href="css/styles.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="js/tuxedo.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="nav-dark"> 
      <ul class="menu-items"> 
        <% if current_user %>
        <li class="f-col-1 flex-left"><%= link_to "Sign out", destroy_user_session_path, method: 'delete' %></li>
        </li> 
        <% else %>
        <li class="f-col-1 flex-left"><%= link_to 'Sign In', new_user_session_path %></li>
        <li class="f-col-1 flex-left"><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
      </ul>
    </nav>

<div class="side-bar bg-dark-grey">

  <ul>
    <li><%= link_to "Posts",  posts_path %></li>

    <li> <%= link_to "Add Post",  new_post_path %></li>
    <li> <%= link_to "Shoots",  shoots_path %></li>
    <li> <%= link_to "Add Shoot",  new_shoot_path %></li>
    <li><%= link_to 'Videos', videos_path %></li>
      <li><%= link_to 'Add Video', new_video_path %></li>
  </ul>




      </div>
      <div class="side-bar-content">
      <%= yield %>
      </div>
    </body>
  </div>
</html>
